.logMain {
  width: 400px ;
  height: 36px ;
  font-size: 14px !important;
  border-radius: 6px !important;
  border: 1px solid #d9d9d9 !important;
  margin-left: 30px;

  &:focus {
    border-color: #40a9ff !important;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
  }

  &:hover {
    border-color: #40a9ff !important;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media (max-width: 775px){
  .logMain {
    width: 330px;
    margin-left: 20px;
  }
}
@media (max-width: 430px){
  .logMain {
    width: 310px;
    height: 26px;
  }
}
@media (max-width: 396px){
  .logMain {
    width: 305px;
    height: 26px;
    margin-left: 10px;
  }
}