.logMain {
  width: 400px !important;
  height: 36px !important;
  font-size: 14px !important;
  border-radius: 6px !important;
  border: 1px solid #d9d9d9 !important;
  margin-left: 40px ; 
  &:focus {
    border-color: #40a9ff !important;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
  }
  
  &:hover {
    border-color: #40a9ff !important;
  }
}