.catalogBtn {
    width: 127px;
    height: 44px;
}

@media(max-width: 1006px) {
    .catalogBtn {
        width: 100px;
    }
}

@media(max-width: 777px) {
    .catalogBtn {
        width: 80px;
        height: 35px;
    }
}

@media(max-width: 667px) {
    .catalogBtn {
        width: 60px;
        height: 30px;
    }
}

@media(max-width: 523px) {
    .catalogBtn {
        width: 40px;
        height: 25px;
        font-size: 8px;
        padding: 0 3px;
        min-width: unset;
    }
}

@media(max-width: 480px) {
    .catalogBtn {
        width: 45px;
        height: 27px;
        font-size: 9px;
        margin-top: 1px;
    }
}