.searchMainDiv {
    width: 524px;
    height: 44px;
    display: flex;
    flex-direction: row;
    border: 2px solid #1677ff;
    border-radius: 12px;
}

.searchDiv{
    width: 85px;
    height: 42px;
}

.searchSmallDiv{
    width: 72px;
    height: 33px;
    display: flex;
    justify-content: center;
    padding-top: 8px ;
    margin-top: 4px;
    margin-left: 3px;
    font-size: 14px;
    background-color: #f4f1f1;
    color: #b3afaf;
    border-radius: 12px 12px 12px 12px;
}

.searchInput {
    width: 444px;
    height: 41px;
    border-radius: none;
}

.searchBtn {
    width: 78px;
    height: 42px;
    border-radius: 0 6px 6px 0;
}